In [1]:
import pandas as pd

data = pd.DataFrame({
    'sn': [1, 2, 3, 4, 5],
    'Name': ['Arjun', 'Srishti', 'Virendra', 'Narendra', 'Ayushi'],
    'Gender': ['male', 'female', 'male', 'male', 'female'],'status':['unmaried','maried','unmaried','maried','unmaried']
})

print(data)

   sn      Name  Gender    status
0   1     Arjun    male  unmaried
1   2   Srishti  female    maried
2   3  Virendra    male  unmaried
3   4  Narendra    male    maried
4   5    Ayushi  female  unmaried

In [2]:
en_data = data[['Gender','status']]
en_data

   Gender    status
0    male  unmaried
1  female    maried
2    male  unmaried
3    male    maried
4  female  unmaried

In [3]:
pd.get_dummies(en_data)

   Gender_female  Gender_male  status_maried  status_unmaried
0          False         True          False             True
1           True        False           True            False
2          False         True          False             True
3          False         True           True            False
4           True        False          False             True

In [4]:
from sklearn.preprocessing import OneHotEncoder

In [5]:
ohe = OneHotEncoder()
arr = ohe.fit_transform(en_data).toarray()

In [6]:
pd.DataFrame(arr,columns=['Gender_female','Gender_male','status_maried','status_unmaried'])

   Gender_female  Gender_male  status_maried  status_unmaried
0            0.0          1.0            0.0              1.0
1            1.0          0.0            1.0              0.0
2            0.0          1.0            0.0              1.0
3            0.0          1.0            1.0              0.0
4            1.0          0.0            0.0              1.0

In [7]:
ohe = OneHotEncoder(drop='first')
arr = ohe.fit_transform(en_data).toarray()
arr

array([[1., 1.],
       [0., 0.],
       [1., 1.],
       [1., 0.],
       [0., 1.]])

In [8]:
pd.DataFrame(arr,columns=['Gender_male','status_unmaried'])

   Gender_male  status_unmaried
0          1.0              1.0
1          0.0              0.0
2          1.0              1.0
3          1.0              0.0
4          0.0              1.0