In [1]:
import pandas as pd

data = pd.DataFrame({
    'sn': [1, 2, 3, 4, 5],
    'Name': ['Arjun', 'Srishti', 'Virendra', 'Narendra', 'Ayushi'],
    'Gender': ['male', 'female', 'male', 'male', 'female'],'status':['unmaried','maried','unmaried','maried','unmaried']
})

data

   sn      Name  Gender    status
0   1     Arjun    male  unmaried
1   2   Srishti  female    maried
2   3  Virendra    male  unmaried
3   4  Narendra    male    maried
4   5    Ayushi  female  unmaried

In [2]:
from sklearn.preprocessing import LabelEncoder

In [3]:
le = LabelEncoder()
columns_to_encode = ['Name','Gender', 'status']

for column in columns_to_encode:
    data[column] = le.fit_transform(data[column])

In [4]:
data

   sn  Name  Gender  status
0   1     0       1       1
1   2     3       0       0
2   3     4       1       1
3   4     2       1       0
4   5     1       0       1