In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [3]:
dataset = pd.read_csv(r'C:\Users\acer\Desktop\Python\Data Science\Features Engineering\data\Social_Network_Ads.csv')
dataset=dataset.drop(columns=['User ID','Gender'])
dataset.head(3)

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0

In [4]:
print(dataset.isnull().sum())
print('\nshape = ',dataset.shape)

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

shape =  (400, 3)

In [5]:
dataset['Purchased'].value_counts()

Purchased
0    257
1    143
Name: count, dtype: int64

In [6]:
x = dataset.iloc[:,:-1]
y = dataset['Purchased']

In [19]:
dataset.duplicated().sum()

33

# 1. Random OverSampling 
## # when to use :- 
#### 1. Smaller Dataset
####                2. Highly imbalanced data
## # Disadvantage :-
####                1. Duplicates values ( ML Algorithm Overfiting )

In [8]:
from imblearn.over_sampling import RandomOverSampler

In [9]:
ro = RandomOverSampler()

In [10]:
ro_x,ro_y=ro.fit_resample(x,y)

In [14]:
ros_data = pd.DataFrame(ro_x,columns=['Age','EstimatedSalary'])

In [27]:
ros_data['Purchased'] = ro_y

In [16]:
ros_data['Purchased'].value_counts()

Purchased
0    257
1    257
Name: count, dtype: int64

In [18]:
ros_data.duplicated().sum()

147

In [20]:
ros_data.shape

(514, 3)

# 2. SMOTE( Synthetic minority Oversampling Techinique )
## # when to use :- 
#### 1. Smaller Dataset
####                2. Highly imbalanced data

In [21]:
from imblearn.over_sampling import SMOTE

In [22]:
smote = SMOTE(random_state=42)

In [23]:
x_smo,y_smo = smote.fit_resample(x,y)

In [25]:
smo_data = pd.DataFrame(x_smo,columns=['Age','EstimatedSalary'])

In [28]:
smo_data['Purchased'] = y_smo

In [29]:
smo_data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [30]:
smo_data.duplicated().sum()

43

In [31]:
smo_data.shape

(514, 3)

In [32]:
smo_data['Purchased'].value_counts()

Purchased
0    257
1    257
Name: count, dtype: int64

# 3. Random UnderSapmling
### when to use :-
#### 1. Big Dataset / Largest Dataset
### Disadvantage:- loss of data

In [33]:
from imblearn.under_sampling import RandomUnderSampler

In [34]:
ru = RandomUnderSampler()

In [35]:
ru_x,ru_y=ru.fit_resample(x,y)

In [36]:
ru_y.value_counts()

Purchased
0    143
1    143
Name: count, dtype: int64